@import "tailwindcss";

:root {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: var(--color-base);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@theme {
    --color-primary: #CDD6F4;
    --color-secondary: #A6ADC8;
    --color-tertiary: #91DCE5;
    --color-base: #1D1E2D;
    --color-base-2: #2E2E45;
}

body {
    background-image: radial-gradient(circle, #A6ADC820 1px, transparent 1px);
    background-size: 28px 28px;
}
